# ZMK Build Output
zmk/
build/
.cmake/
*.hex
*.uf2

# Editor & IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS-specific
.DS_Store
Thumbs.db
Desktop.ini

# Backup & Temporary Files
*.bak
*.old
*.tmp
*copy*
*.backup

# Logs
*.log

# Dependencies
node_modules/
venv/
__pycache__/
GRTAGS
GPATH
cscope.files
cscope.out
cscope.in.out
cscope.po.out

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Test % Tmp
test.*
tmp.*
temp.*

# Java
*.class

# JavaScript
node_modules

# Python
*.pyc
.idea/
/.idea
# build/
__pycache__

# Rust
target/
**/*.rs.bk

# keymap svgs
keymap-drawer/*.svg
archive/
boards/.DS_Store.gz